@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,200&display=swap');

:root {
   --heading-font: "Nunito", serif;
   --heading-color: #363636;
   --paragraph-font: "Inter", serif;
   --paragraph-color: #696969;
   --ios-color: rgb(102, 146, 102);
   --mac-color: rgb(102, 102, 253);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: pointer;
}
.container{
   background-image: url(../images/bg-header-mobile.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.intro-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 3rem;
   text-align: center;
}
.c-logo{
   padding-top: 6rem;
}
.history{
   padding-top: 3rem;
   font-family: var(--heading-font);
   color: var(--heading-color);
}
.clipboard{
   padding-top: 1rem;
   font-family: var(--paragraph-font);
   font-size: 0.9rem;
   color: var(--paragraph-color);
   line-height: 1.5rem;
}
.download-container{
   padding-top: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}
.ios, .mac{
   width: 240%;
   border-radius: 50px;
   font-family: var(--heading-font);
   border: none;
   color: white;
   height: 3rem;
   font-size: 1em;
   box-shadow: 0px 6px 5px 0px;
}
.ios{
   background-color: var(--ios-color); 
}
.mac{
   background-color: var(--mac-color);
}